.categories-nav-link {
    color: black !important;
}

.units-nav-link {
    color: black !important;
}

.categories-nav-link.active {
    color: #fff !important;
}


.units-nav-link.active {
    color: #fff !important;
}