.products-container {
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
}

.products-table {
}

.card-title {
    display: flex;
}

.button-container {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.button-container .add-button {
}

.bi.bi-dash-circle {
    color: red;
    cursor: pointer;
}