.bi.bi-plus-circle {
    cursor: pointer;
    color: #6d7fcc;
}

.inventory-table-header {
    display: flex;
    column-gap: 10px;
}

.grid-header-name:hover {
    cursor: pointer;
    background-color: #e2e3e5;
}

.grid-header-category:hover  {
    cursor: pointer;
    background-color: #e2e3e5;
}